<h2>Team Name: <%= @team.name %></h2>
<h3>Team Motto: <%= @team.motto %></h3>
<br>
<h3>First Hero</h3>
<p>Hero Name: <%= @hero_one.name %><p>
<p>Hero Power: <%= @hero_one.power %><p>
<p>Hero Biography: <%= @hero_one.biography %><p>
<br>
<h3>Second Hero</h3>
<p>Hero Name: <%= @hero_two.name %><p>
<p>Hero Power: <%= @hero_two.power %><p>
<p>Hero Biography: <%= @hero_two.biography %><p>
<br>
<h3>Third Hero</h3>
<p>Hero Name: <%= @hero_three.name %><p>
<p>Hero Power: <%= @hero_three.power %><p>
<p>Hero Biography: <%= @hero_three.biography %><p>
<br>



